In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Job_Datasets/df_nlp_processing.csv')

In [3]:
df.head(2)

,author,id,link_flair_text,num_comments,score,text,title,upvote_ratio,url,created_datetime,day_of_week,hour_of_day,month,year,was_edited
0,AutoModerator,1b5wc20,Weekly Megathread,52,8,this weekly success disappointment Megathread ...,Success and Disappointment Megathread for the ...,1.0,https://www.reddit.com/r/jobs/comments/1b5wc20...,2024-03-04 00:00:17,Monday,0,March,2024,False
1,AutoModerator,1bbp7r7,Weekly Megathread,15,3,this weekly success disappointment Megathread ...,Success and Disappointment Megathread for the ...,1.0,https://www.reddit.com/r/jobs/comments/1bbp7r7...,2024-03-11 00:00:27,Monday,0,March,2024,False

In [4]:
df.shape

(613, 15)

In [5]:
print(df.loc[0, 'title'])

Success and Disappointment Megathread for the Week

In [6]:
print(df.loc[0, 'text'])

this weekly success disappointment Megathread week please post success disappointment week include job offer victory well venting frustration thread thread thank

In [7]:
author_counts = df['author'].value_counts()

# check if one author post only once
multiple_posts = author_counts[author_counts > 1]

if multiple_posts.empty:
    print("Each author has posted only once.")
else:
    print("Some authors have posted more than once:")
    print(multiple_posts)

Some authors have posted more than once:
author
CombProfessional434     3
Zealousideal-Cow6626    3
slowngnawing            3
Agency_Goldfish         2
Lazy_Driver_6795        2
mel69issa               2
IAmArgumentGuy          2
DonkeySmash101          2
boo_ella                2
redditoriousBIG         2
AutoModerator           2
TiredOfLife90           2
sheephorde              2
knightoffire55          2
sports_fan27            2
Big-Management7358      2
MooseGoose82            2
Musicislife21_          2
JellyfishJolly168       2
Dependent_Rub_6982      2
Just-a-guy879           2
Name: count, dtype: int64

In [8]:
columns_to_check = ['link_flair_text', 'month', 'year', 'was_edited']

for column in columns_to_check:
    print(f" Unique Value for {column}:")
    print("\n") 
    print(df[column].unique())
    print("\n") 
     
    print(f'Number of unique values {len(df[column].unique())}') 
    print("\n")

 Unique Value for link_flair_text:


['Weekly Megathread' 'Article' 'Internships' 'Interviews'
 'Work/Life balance' 'Rejections' 'Applications' 'Post-interview'
 'Career planning' 'Leaving a job' 'Companies' 'Job searching' 'Layoffs'
 'Resumes/CVs' 'Onboarding' 'Temp work' 'Unemployment' 'Compensation'
 'Recruiters' 'Career development' ' HR ' 'Training' 'Office relations'
 'Discipline' 'Promotions' 'Education' 'Networking' 'Contract work'
 'References' 'Evaluations' 'Qualifications']


Number of unique values 31


 Unique Value for month:


['March']


Number of unique values 1


 Unique Value for year:


[2024]


Number of unique values 1


 Unique Value for was_edited:


[False  True]


Number of unique values 2

In [9]:
columns_to_check = ['link_flair_text', 'month', 'year', 'was_edited', 'hour_of_day']
for column in columns_to_check:
    print(f"Value counts for {column}:")
    print(df[column].value_counts())
    print("\n")

Value counts for link_flair_text:
link_flair_text
Job searching         83
Applications          75
Interviews            66
Leaving a job         53
Post-interview        44
Compensation          40
Career planning       34
Work/Life balance     22
Career development    21
Office relations      21
Resumes/CVs           17
Onboarding            15
Unemployment          15
Article               14
 HR                   14
Companies             12
Rejections            12
Education              8
Layoffs                6
Recruiters             6
Discipline             5
Evaluations            5
Promotions             5
Networking             4
Training               3
Internships            3
Temp work              3
Weekly Megathread      2
Contract work          2
Qualifications         2
References             1
Name: count, dtype: int64


Value counts for month:
month
March    613
Name: count, dtype: int64


Value counts for year:
year
2024    613
Name: count, dtype: int64


Value counts for was_edited:
was_edited
False    566
True      47
Name: count, dtype: int64


Value counts for hour_of_day:
hour_of_day
0     49
17    44
2     40
21    40
18    38
20    38
22    35
19    31
1     30
23    30
3     28
13    28
15    26
16    26
6     18
4     18
14    17
5     16
7     16
12    13
11    12
10     9
8      7
9      4
Name: count, dtype: int64

In [10]:
df[["num_comments", "score", "upvote_ratio"]].describe()

       num_comments        score  upvote_ratio
count    613.000000   613.000000    613.000000
mean      18.605220    68.469821      0.800767
std      123.077387   586.100181      0.212093
min        0.000000     0.000000      0.220000
25%        1.000000     1.000000      0.670000
50%        2.000000     1.000000      0.850000
75%        6.000000     3.000000      1.000000
max     2061.000000  9962.000000      1.000000